footer {
    display: flex;
    padding: 50px 13% 0;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: #181520;
    font-size: 14px;
}

.grid-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* border: 1px dashed yellow */
}



#link_redes{
    border-radius: 2px;
    width: 50%;
    display: flex;
    height: auto;
    max-height: 150px;
    flex-direction: column;
    color: white;
    font-size: 16px;
    font-weight: bold;
   /*  border: 2px dashed red */
}



#contact{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;

    align-items: end;
    line-height: 35px;
    /* border: 2px dashed red */
}

#contact p {
    text-align: end;
    margin-right: 10%;
}

#link_redes p, #contact p {
    color: white;
    width: 100%;
    font-weight: bold;
    font-size: clamp(10px, 3vw, 14px);
}

#link_redes a, #contact a {
    font-size: clamp(5px, 3vw, 14px);
    color: #DDDBDF;
    font-weight: 500;
    text-decoration:none;

}

#contact a {
    width: 140px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 5px;
    transition: linear 0.3s;
    /* border: 1px dashed blue; */
} 

#contact a:hover {
    background-color: #181520;
    color: #9A4BFF;
    border-bottom: 2px solid #9A4BFF;
}

#contact img {
    width: 20px;
}

#link_redes a:hover {
    color: #9A4BFF;
}

#box_copyright {
    border-top: 2px solid #272727;
    border-radius: 1px;
    width: 100%;
    margin-top: 110px;
    height: auto;
    text-align: center;
    padding: 20px;
    color: rgb(157, 157, 157);
}

