#presentation {
    width: 100%;
    padding-top: 90px;
    height: auto;
    display: flex;
    flex-direction: column;

   /*  background-color: #140a20;
    background-image: url("/Assets/black-lozenge.png"); */
}

#card_description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 150px;

}

#description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px 48px 0px;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Staatliches", sans-serif;
    color: #ffffff;
}


#p_description {
    font-weight: 500;
    color: #CFCFCF;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

#redes_link {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 50px;
}


.icon-redes {
    width: 45px;
}

.redes_a {
    width: 180px;
    height: 55px;
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    gap: 8px;
    align-items: center;
    border: 2px solid #252525;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.redes_a:hover  {
    background-color: #140a20;
    border-color: #ededed37;
    box-shadow: 0px 1px 16px 2px rgba(58, 44, 0, 0.443);
}

.btn-download {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: white;
}

.icon-redes:hover {
    fill: #ffffff;
}


ion-icon {
    font-size: 30px;
    margin-bottom: 4px;
    margin-left: 5px
}

#card_img {
    margin-right: 20px;
}

#img_card {
    border: 3px solid #9A4BFF;
    box-shadow: 0px 4px 50px 10px #281343b1;
    border-radius: 50%;
    width: 350px;
    object-fit: cover;
} 


#h2_about {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Space Grotesk", sans-serif;
}


#about_me {
    width: auto;
    height: auto;

    border: 2px solid transparent;
    background-color: transparent;
    border: 2px solid #ededed37;
    border-radius: 20px;
    padding: 45px 45px 45px 45px;

    box-shadow: 0px 0px 15px 10px rgba(153, 75, 255, 5%);

    display: flex;
    flex-direction: row;

    
}

.text-about {
    width: 50%;

}

.timeline-section {
    color: white;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
}

.timeline-section h2 {
    color: #ffc300;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 1.5rem;
}

.timeline {
    position: relative;
    margin-left: 20px;
    border-left: 3px solid #333;
}

.timeline-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 40px;
}

.marker {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    top: 4px;
    z-index: 1;
}

.line {
    width: 20px;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: -6px;
    top: 10px;
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;

}

.content h3 span {
    font-weight: normal;
}

.content p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}


.text-p {
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
    line-height: 45px;
}

.span-description {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.p-certificates {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FFC700;
}

.p-topic {
    font-size: 16px;
    margin-top: 12px;
    color: #ffffff;
}

@media screen and (max-width:1024px) {
    #presentation {
        padding-top: 0;
    }
    #card_description {
        margin-bottom: 60px;
    }
    #description {
        gap: 20px;
    }
    #h2_about {
        margin: 10px 0 20px 0;

    }
    #about_me {
        padding: 15px 35px 35px 25px;
    }
    .text-p {
        line-height: 25px;
        margin: 30px 0 25px;
    }

    .span-description, .p-topic {
        line-height: 30px;
    }
}