#presentation {
    width: 100%;
    padding-top: 90px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#card_description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 150px;
}

#description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px 48px 0px;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Staatliches", sans-serif;
    color: #ffffff;
}


#p_description {
    font-weight: 500;
    color: #CFCFCF;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

#redes_link {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.redes_a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #442E5F;
    border-radius: 8px;
    transition: 0.3s;
}

.icon-redes {
    width: 45px;
}

.redes_a {
    width: 170px;
    height: 55px;
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    gap: 5px;
    
}




/* MINHA LOGO
#card_img {
    margin-right: 20px;
}

#img_card {
    border: 3px solid #9A4BFF;
    box-shadow: 0px 4px 50px 10px #281343b1;
    border-radius: 50%;
    width: 350px;
    object-fit: cover;
} */


#h2_about {
    margin-bottom: 50px;
    text-align: center;
    color: #9A4BFF;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Staatliches", sans-serif;
}

#about_me {
    width: auto;
    height: auto;
    background-color: #181520;
    box-shadow: 0px 0px 3px 1px rgba(32, 32, 32, 0.68);
    border: 2px solid #9A4BFF;
    border-radius: 20px;
    padding: 15px 35px 35px 35px;
     
}

.text-p {
    font-weight: 500;
    color: #ffffff;
    margin-top: 20px;
    font-size: 18px;
    line-height: 45px;
}

.span-description {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.p-certificates {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FFC700;
}

.p-topic {
    font-size: 16px;
    margin-top: 12px;
    color: #ffffff;
}

@media screen and (max-width:1024px) {
    #presentation {
        padding-top: 0;
    }
    #card_description {
        margin-bottom: 60px;
    }
    #description {
        gap: 20px;
    }
    #h2_about {
        margin: 10px 0 20px 0;

    }
    #about_me {
        padding: 15px 35px 35px 20px;
    }
    .text-p {
        line-height: 25px;
        margin: 30px 0 25px;
    }

    .span-description, .p-topic {
        line-height: 30px;
    }
}