.projects {
    margin: 100px 0 100px;
    max-width: 1400px;
    padding: 0 1rem;
    /* border: 2px solid pink; */
}

#h2_projects {
    font-size: clamp(20px, 4vw, 40px);
    text-align: center;
    color: #FBFF4B;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 100px;
    /* border: 2px solid pink; */
}

#grid_project {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    /* margin: 100px 0 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
   /*  border: 2px solid rgb(203, 15, 46); */
}

.card-project {
    width: 100%;
    max-width: 340px;
    height: auto; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 1px 14px 32px -8px rgba(14, 14, 14, 0.514);
    border: 2px solid #9A4BFF;
    transition: transform 0.3s;
}

.card-project:hover {
    transform: translateY(-5px);
}

.image-project {
    height: 140px;
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid rgb(110, 60, 173, 21%);
    /*     border: 2px solid pink; */
}

.project-description {
    width: 95%;
    padding: 24px 0 26px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
/*         border: 2px solid pink; */
}

h4 {
    font-size: 18px;
    color: var(--white);
    line-height: 20px;
/*     border: 2px solid pink; */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: baseline;
    margin-bottom: 20px;
/*         border: 2px solid pink; */
}

.container .technologies > .item-technologies {
    width: 50px;
}


.description-project {
    height: auto;
    font-size: clamp(10px, 3vw, 14px);
    color: var(--paragraph);
       /*  border: 2px solid pink; */
}

