.projects {
    margin: 100px 0 100px;
    max-width: 1400px;
    /* border: 2px solid pink; */
}

#h2_projects {
    font-size: clamp(20px, 4vw, 40px);
    color: #ffffff;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 42px;
    margin-bottom: 100px;
    text-transform: uppercase;
    /* border: 2px solid pink; */
}

#grid_project {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 340px));
    justify-items: center;
    /* margin: 100px 0 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
   /*  border: 2px solid rgb(203, 15, 46); */
}

.card-project {
    width: 100%;
    max-width: 400px;
    height: auto; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(153, 75, 255, 5%);
    border: 2px solid #777777;
    transition: transform 0.3s;
}

.card-project:hover {
    transform: translateY(-5px);
}

.image-project {
    height: 140px;
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.21);
    /*     border: 2px solid pink; */
}

.project-description {
    width: 95%;
    padding: 24px 0 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

h4 {
    font-size: 18px;
    color: var(--white);
    line-height: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
}

.container > .tech-project {
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
}

.container .technologies > .item-project {
    width: 60px;
    height: 50px;
    border-radius: 12px;
    box-shadow: none;
    gap: 2px;
}

.tech-project >.item-project:hover {
    transform: none ;
}

.description-project {
    height: auto;
    font-size: clamp(10px, 3vw, 14px);
    color: var(--paragraph);

}

