.projects {
    height: auto;
    margin-top: 190px;
    border: 2px solid pink;
    margin-bottom: 70px;
}

#h2_projects {
    font-size: clamp(20px, 4vw, 40px);
    text-align: center;
    color: #FBFF4B;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-size: 48px;
    border: 2px solid pink;
}

#item_project {
    margin: 100px 0 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid pink;
}

.card-project {
    width: 340px;
    height: 305px;

    display: flex;
    flex-direction: column;
    margin: 30px;
    border-radius: 8px;
    box-shadow: 1px 14px 32px -8px rgba(14, 14, 14, 0.514);
    border: 2px solid #9A4BFF;
}

.image-project {
    height: 140px;
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid rgb(110, 60, 173, 21%);
        border: 2px solid pink;
}

.project-description {
    width: 100%;
    padding: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
        border: 2px solid pink;
}

h4 {
    font-size: 18px;
    color: var(--white);
    line-height: 20px;
    border: 2px solid pink;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: baseline;
    margin-bottom: 20px;
        border: 2px solid pink;
}

.container .technologies > .item-technologies {
    width: 50px;
}


.description-project {
    height: auto;
    font-size: clamp(10px, 3vw, 14px);
    color: var(--paragraph);
        border: 2px solid pink;
}


@media  screen and (max-width: 1274px) {
    .card-project {
        width: 320px;
        height: auto;
        margin: 20px;
    }

    .projects {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .card-project {
        width: 300px;
        height: auto;
    }

}

@media screen and (max-width: 425px) {
    .card-project {
        width: 90%;

    }
}



